@(projectform:Form[Project])
@import helper._;

<div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-content" style="margin:8% 35%">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>You're in the projects package</strong>
        </div>
    </div>
    <div class="panel-body">
        <!-- The Project Form -->
        @helper.form(action = routes.Application.createNewProject) {
            @helper.inputText(projectform("folder"))
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default" name="send">Create!</button>
            </div>
            @*<input type="button" name="send" value="Create!" />*@
        }
    </div>
</div>
</div>