
@import helper.twitterBootstrap._

<div class="modal-content" style="margin:8% 35%">
    @*<div class="container" style="background-color: #101010">*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Create a new Project</strong>
        </div>
    </div>
    <div class="panel-body">
        <!-- The Project Form -->
        <p>TEST</p>
        @*@helper.form(action = routes.Application.submitNewProject()) {*@
            @*@helper.inputText(form("name"))*@
            @*<p>description</p>*@
            @*<p>template</p>*@
            @*<input type="submit" class="btn primary" value="Send">*@
        @*}*@
    </div>
</div>