@(p: Project)
<div class="alert alert-info" role="alert">

<p><strong>Next step:</strong> upload your own template </p>
        @helper.form(action = routes.DocumentData.uploadNewTemplate(p.id), 'enctype -> "multipart/form-data") {
          <div class="form-inline">
            <div class="form-group">
              <input type="file" name="upload" id="js-upload-files" multiple>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">ok</button>
            </div>

          </div>
        }

  </div>