@(p: Project)

        <div class="tab-pane fade" id="@p.folder">
            <div class="panel panel-default">
                @projects.projectContentHeader(p)
                @projects.projectFileList(p)
            </div>
            <div class="btn-group" role="group" style="margin:2% 7%">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#pcUpload">
                    <i class="fa fa-cloud-upload fa-fw"></i> Upload a file...
                </button>
            </div>
                <!-- Modal PC Upload -->
            <div class="modal fade" id="pcUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            @upload.uploadProjectFile()
            </div>
        </div>


