@(p: Project)

<div class="panel-heading">
    @*<div class="container-fluid">*@
        <div class="row">
            <div class="col-xs-8">
                <h1>@p.name</h1>
            </div>
            <div class="col-xs-4">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown pulls-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-gear fa-fw"></i> <u class="hidden-xs">Settings</u><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li><a href="#" data-toggle="modal" data-target="#editProject@p.id"><i class="fa fa-pencil fa-fw"></i> Edit Project...</a></li>
                            @*make if statement, and change to "request ownership" if user is not in owners list*@
                            <li><a href="#" data-toggle="modal" data-target="#projectMemberList@p.id"><i class="fa fa-clipboard fa-fw"></i> Member permissions...</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-toggle="modal" data-target="#addMemberToProject@p.id"><i class="fa fa-user fa-fw"></i> Add a member...</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#addReviewerToProject@p.id"><i class="fa fa-edit fa-fw"></i> Add a reviewer...</a></li>
                            <li class="divider"></li>
                            @*make if statement, and change to "Archive Project" if the user is the single owner*@
                            <li><a href="#" data-toggle="modal" data-target="#archiveProject@p.id"><i class="fa fa-sign-out fa-fw"></i> Archive Project</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    @*</div>*@
    @*<div class="container">*@
        @*<p>Members: Empty. </p>*@
    @*</div>*@
</div>
@*Edit Project Modal*@
@template.smallmodal("editProject"+p.id.toString)("info")("Edit details of "+p.name) {
    @*helper.form(action = routes.Application.editProject(p.id)) {
        @helper.inputText(filledProjectForm("tabname"), '_label -> "Project Tab Name (Required)", '_showConstraints -> false, '_showsErrors -> true)
        @helper.inputText(filledeProjectForm("name"), '_label -> "Project Name (Required)", '_showConstraints -> false, '_showsErrors -> true)
        @helper.inputText(filledProjectForm("description"), '_label -> "Project Description (Optional)", 'size -> 50)
        <div class="btn-group pull-right" role="group" style="margin:2% 1% 1% 1%">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-info" name="send">Save!</button>
            </div>
        </div>
    }*@
}
@*Member List Modal*@
@template.mediummodal("projectMemberList"+p.id.toString)("info")("Members of "+p.name) {<p>Show a list of the members here,
    along with first name, last name, time of add, role, emailaddress with possible mailto hyperlink</p>}
@*Add Member Modal*@
@template.smallmodal("addMemberToProject"+p.id.toString)("info")("Add a Member to "+p.name) {<p>Form with email address</p>}
@*Add Reviewer Modal*@
@template.smallmodal("addReviewerToProject"+p.id.toString)("info")("Add a Reviewer to "+p.name) {<p>Form with email address</p>}
@*Delete Project Confirmation Modal*@
@template.smallmodal("archiveProject"+p.id.toString)("danger")("Deletion of "+p.name) {
    <p>Are you sure you want to archive project @p.name, and all of its files?</p>
    <div class="btn-group pull-right" role="group" style="margin:2% 1% 1% 1%">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-default" data-dismiss="modal">Cancel.</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-danger" href="@routes.Application.archiveProject(p.id)">Archive!</a>
        </div>
    </div>
}
