@(projectList: List[Project])

<div class="tab-content" style="margin:5% 7%">
@for(p <- projectList){
    @if(p.equals(projectList(projectList.size -1))){
        <div class="tab-pane fade in active" id="tab@p.id">
            <div class="panel panel-default">
                @projects.projectContentHeader(p)
                @projects.projectFileList(p)
            </div>
            @projects.projectUploadButtons()
        </div>
        } else {
        <div class="tab-pane fade" id="tab@p.id">
            <div class="panel panel-default">
                @projects.projectContentHeader(p)
                @projects.projectFileList(p)
            </div>
            @projects.projectUploadButtons()
        </div>
    }
}
</div>
@*<div class="container">*@


    @**@