@(p: Project , filelist: List[DocumentFile])
<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>File</th>
            <th>Uploaded by</th>
            <th>Version</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>

        @filelist.map{ f =>

        <tr>
            <td>1</td>
            <td>@f.name</td>
            <td>Philip J. Fry</td>
            <td>@f.id</td>
            <td><a href="@{routes.Datafile.downloadDocument(f.id)}" ><i class="fa fa-download fa-fw"></i></a></td>
        </tr>
        }
        @*<tr>*@
            @*<td>2</td>*@
            @*<td>img.jpeg</td>*@
            @*<td>Turanga Leela</td>*@
            @*<td>3</td>*@
            @*<td><a href="#"><i class="fa fa-download fa-fw"></i></a></td>*@
        @*</tr>*@
        @*<tr>*@
            @*<td>3</td>*@
            @*<td>review.pdf</td>*@
            @*<td>Hubert J. Farnsworth</td>*@
            @*<td>3</td>*@
            @*<td><a href="#"><i class="fa fa-download fa-fw"></i></a></td>*@
        @*</tr>*@
    </tbody>
</table>