@(currentUser: User)
<div class="container-fluid" style="text-align: center; margin: 1% 0">
    <div role="tabpanel">
        <ul class="nav nav-tabs">
            @for(p <- UserData.findActiveProjects) {
                @if(p.id == UserData.getLastUsedProject.id) {
                    <li role="presentation" class="active" style="width: 18%; text-overflow : ellipsis ; overflow : hidden ; white-space : nowrap">
                        <a href="#project@p.id" data-toggle="tab">@p.folder</a>
                    </li>
                } else {
                    <li role="presentation" style="width: 18%; overflow: hidden; white-space: nowrap ; text-overflow : ellipsis">
                        <a href="#project@p.id" data-toggle="tab">@p.folder</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
