@*<div class="container">*@
    @*<div class=container">*@
        @*<h1>Your Projects</h1>*@
    @*</div>*@
@*</div>*@
<div role="tabpanel">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#bep" data-toggle="tab">Bep</a></li>
        <li role="presentation"><a href="#project_1" data-toggle="tab">Project_1</a></li>
        <li role="presentation"><a href="#project_2" data-toggle="tab">Project_2</a></li>
    </ul>
</div>
<div class="tab-content" style="margin:50px 75px">
    <div class="tab-pane fade" id="bep">
        @projects.projectBody()
    </div>
    <div class="tab-pane fade" id="project_1">
        @projects.projectBody()
    </div>
    <div class="tab-pane fade" id="project_2">
        @projects.projectBody()
    </div>
</div>