@(url: String, token: String, name: String, email: String, name_project: String, name_event: String, date_event: String)
Hello @name,
<br />
<br />
<p>
    I would like to inform you that you planned to start writing '@name_event' of your project '@name_project'
    on @date_event.
</p>
<p>
    If you would like to go and see your planning for this project, or maybe would like to adjust is, please head over to <a href="@url">this link</a>.
</p>
<p>
    Have a nice day,<br />
    <i>your Personal Assistant</i>
</p>