@(uid: Long)
<!-- /.row -->
<div class="row" id="two" style="padding=10px">
    <div class="col-xs-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Comment.find.where().in("project", PersonData.findActiveProjects()).findList().size()</div>
                        <div> Comments!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="panel panel-pink">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa fa-line-chart fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@PersonData.findActiveProjects.size()</div>
                        <div> Projects</div>
                    </div>
                </div>
            </div>
            <a href="@routes.Application.project()">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Task.find.where().eq("person", Person.find.ref(uid)).findList().size()</div>
                        <div> Tasks!</div>
                    </div>
                </div>
            </div>
            <a href="@routes.Application.task()">
                <div class="panel-footer">
                    <span class="pull-left">View more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-6 ">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">0</div>
                        <div> Calendar</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>