body {
  /* Image source: http://wallbase.cc/wallpaper/718405 */
  background: white url("http://i.imgur.com/xu0zS7g.jpg") no-repeat fixed;
  background-size: cover;
}


@mixin radial($startColor, $endColor) 
{
    background: $startColor;    
    background: -webkit-radial-gradient(center, ellipse cover, $startColor 0%, $endColor 100%);    	
}

.blue   {@include radial(#499FCD, #1A69AA); }
.yellow {@include radial(#CD9F49, #AA691A); }
.green  {@include radial(#9FCD49, #69AA1A); }
.pink   {@include radial(#CD499F, #AA1A69); }

 
#blackOut
{
  height:100%;
  width:100%;
  
  margin:0;
  opacity:0;
  position:absolute;
  padding:0;
}