<div class="modal-content" style="margin:8% 25%">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Upload Files</strong>
            <small>Bootstrap files upload</small>
        </div>
        <div class="panel-body">
        <!-- Select Files from PC -->
            <h4>Upload your document here!</h4>
            @helper.form(action = routes.Application.uploadDocument, 'enctype -> "multipart/form-data") {
                <div class="form-inline">
                    <div class="form-group">
    
                        <input type="file" name="document" id="js-upload-files" multiple>
                    </div>
                
                         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                 </div>
    
            }
            
        </div>
    </div>
</div>