@(url: String, token: String, name: String, email: String, name_project: String, name_role: String)
Hello @name,
<br />
<br />
<p>
    Welcome to the AssisTU initiative! I have been assigned to be your Personal Assistant that will guide and assist you through
    the writing and reviewing of scientific papers, articles, dissertations, and all other types of paperwork.
</p>
<p>
    First off, I will need you to verify yourself for security purposes. You can do so by clicking <a href="@url">this link</a>.
    Once verified, I will give you a tour around our environment so you can get started.
</p>
<p>
    Hope to see you soon,<br />
    <i>your Personal Assistant</i>
</p>
<p>
    PS: If you did not sign up with us, you can ignore this email.
</p>