    <div class="raw" ng-app="todomvc">
        <div id="todoapp" ng-controller="TodoCtrl">
      
            <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg">
                            
                    <form id="todo-form" ng-submit="addTodo()">
                        <input class="form-control input-lg" id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus="">
                    </form>
                    <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" ng-click="addTodo()"><i class="glyphicon glyphicon-time"></i></button>
                    </span>                  
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" ng-click="addTodo()"><i class="glyphicon glyphicon-plus"></i></button>
                    </span>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            
       </div>
    </div>