Dit document bevat requirements vanuit de project proposal, opmerkingen van Babak, en algemene ideeen omtrent het
Virtual Assistant Project

* Layout (-scheduling)
- De planning wordt gemaakt op basis van de layout van het document
- Wat is de scope? (per section, per paragraaf, mixed?)
- Latex of Word (Latex kan gelezen worden in plain text en heeft code die sections en dergerlijke meteen aanduidt, Word heeft extra libs nodig)

* Null Hypothesis aanduiden
- Woordherkenning? Kansrekening?
- Moet deze in een zin staan, of kan dit een stuk tekst zijn?

* Voice Commands
- Vaste zinnen, of keywords?
- De scope van voice control? (welke commandos zouden zoal via spraakherkenning verwerkt moeten kunnen worden?)

* Android
- Google Glass draait enkel op android, dus wss een ongeschreven vereiste

* Personal Advice / Adaptation
TBD - meeting dinsdag 11 Nov

* TU Delft Services
- Met welke moet het compatibel zijn?
- Wat is het idee erachter? (Welke services zou een user zoal nodig kunnen hebben?)
