<div class="container">
    <div class=container" style="margin:25px auto">
        <h1>My Projects</h1>
    </div>
</div>
<div class="container" style="margin:0px 10px">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#bep" data-toggle="tab">Bep</a></li>
        <li role="presentation"><a href="#project_1" data-toggle="tab">Project_1</a></li>
        <li role="presentation"><a href="#project_2" data-toggle="tab">Project_2</a></li>
        <li role="presentation"><a href="#add" data-toggle="tab">Add New</a></li>
    </ul>
</div>