@(id: String)(theme: String)(title: String)(content: Html)

<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content" style="width: 500px; margin:10% auto">
        <div class="panel panel-@theme">
            <div class="panel-heading" style="text-align: center">
                <strong>@title</strong>
            </div>
        </div>
        <div class="panel-body">
        @content
        </div>
    </div>
</div>