@(id: String)(theme: String)(title: String)(content: Html)

<div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content" style="width: 400px; margin:10% auto">
        <div class="panel panel-@theme">
            <div class="panel-heading" style="text-align: center">
                <button type="button" class="close pull-right" data-toggle="collapse" data-target="#@id" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@title</strong>
            </div>
        </div>
        <div class="panel-body" style="margin: 0 20px">
        @content
        </div>
    </div>
</div>