@(title: String)(currentUser:User,eventForm: Form[Event] )

  @import helper._
  @import helper.twitterBootstrap

<head>

  @linkLoader.headlinks(title)
@linkLoader.calendarlinks()

</head>
<body>

<div id="wrapper">
  @dashboard("calendar", currentUser)
    <div id="page-wrapper">
        @template.headericon("fa fa-calendar fa-5x")
      @layouts.calendarLayout("Full calendar") {


        <div style="display: none;">
          <form action="@routes.CalData.addByAjax()" method="POST" id="eventFormNew">
            <input type="text" name="title" id="newTitle"/>
            <input type="text" name="start" id="newStart"/>
            <input type="text" name="end" id="newEnd"/>
            <input type="text" name="allDay" id="newAllDay"/>
          </form>


          <br/>

          <form action="@routes.CalData.move()" method="POST" id="eventFormMove">
            <input type="text" name="id" id="moveId"/>
            <input type="text" name="dayDelta" id="moveDayDelta"/>
            <input type="text" name="minuteDelta" id="moveMinuteDelta"/>
            <input type="text" name="allDay" id="moveAllDay"/>
          </form>


          <form action="@routes.CalData.resize()" method="POST" id="eventFormResize">
            <input type="text" name="id" id="resizeId"/>
            <input type="text" name="dayDelta" id="resizeDayDelta"/>
            <input type="text" name="minuteDelta" id="resizeMinuteDelta"/>
          </form>
        </div>

        <div id='calendar'></div>






      }



    </div>

</div>


<!--bootstrap-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--sb-Admin-->
<script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

<script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

</body>
