@(title: String)(currentUser:User,cform: Form[Event] )
<html lang="en">
<head>

  @linkLoader.headlinks(title)
  @linkLoader.calendarlinks()
</head>
<body>

<div id="wrapper">
  @dashboard("calendar", currentUser)
    <div id="page-wrapper">
        @template.headericon("fa fa-calendar fa-5x")
    <div class="row">
      <div id='calendar'></div>
    </div>
  </div>

</div>


<!--bootstrap-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--sb-Admin-->
<script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

<script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

</body>
</html>