@(title: String)(currentUser:User)
@defining(Project.find.where().in("users", currentUser).eq("active", "true").findList()) { activeProjectList =>
    <html lang="en">
    <head>
        @linkLoader.headlinks(title)
        @*<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/chat-TBD.css")">*@
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
        <script type="text/javascript">
            'use strict';
            /** app level module which depends on services and controllers */
            angular.module('sseChat', ['sseChat.services', 'sseChat.controllers']);
        </script>
        <script type="text/javascript">
            'use strict';
            /** chatModel service, provides chat rooms (could as well be loaded from server) */
            angular.module('sseChat.services', []).service('chatModel', function () {
                var getProjects = function () {
                    return [@for(p <- activeProjectList){@if(!p.equals(activeProjectList.last)){{name: '@p.name', value: '@p.id.toInt'},
                                    }else{{name: '@p.name', value: '@p.id.toInt'}}}];
                };

                return { getProjects: getProjects };
            });
        </script>
        <script type="text/javascript">
            'use strict';
            /** Controllers */
            angular.module('sseChat.controllers', ['sseChat.services']).
                controller('ChatCtrl', function ($scope, $http, chatModel) {
                $scope.projects = chatModel.getProjects();
                $scope.msgs = @{Html(Project.getMessagesAsJson(activeProjectList.get(0).id).toString)};
                $scope.inputText = "";
                $scope.currentProject = $scope.projects[0];
                console.log("Discussion set to " + $scope.projects[0].name + " - " + $scope.projects[0].value);

                /** change current room, restart EventSource connection */
                $scope.setCurrentProject = function (pid) {
                    console.log("Trying to change discussion to " + pid.toString());
                    $scope.currentProject = $.grep($scope.projects, function(p){return p.value === pid;})[0 ];
                    console.log("Changed discussion to " + $.grep($scope.projects, function(p){return p.value === pid;})[0].value);
                    $scope.chatFeed.close();
                    $scope.msgs = @{Html(Project.getMessagesAsJson(pid).toString)};
                    $scope.listen();
                };

                /** posting chat text to server */
                $scope.submitMsg = function () {
                    $http.post("/chat", { text: $scope.inputText, sender: $scope.user, senderID: @currentUser.id,
                        date: (new Date()).toUTCString(), projectID: $scope.currentProject.value });
                    console.log("Posted message <" + $scope.inputText + "> to discussion <" + $scope.currentProject.value + ">");
                    $scope.inputText = "";
                };

                /** handle incoming messages: add to messages array */
                $scope.addMsg = function (msg) {
                    $scope.$apply(function () { $scope.msgs.push(JSON.parse(msg.data)); });
                };

                /** start listening on messages from selected room */
                $scope.listen = function () {
                    $scope.chatFeed = new EventSource("/chatFeed/" + $scope.currentProject.value);
                    $scope.chatFeed.addEventListener("message", $scope.addMsg, false);
                };

            $scope.listen();
            });
        </script>
    </head>
    <body>
        <div id="wrapper">
            @dashboard("discussion", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-comment fa-5x")
                <div ng-app="sseChat">
                    <div ng-controller="ChatCtrl">
                        @*<div id="header">*@
                            @*<select ng-model="currentRoom" ng-change="setCurrentRoom(currentRoom)"*@
                            @*ng-options="r.name for r in rooms"></select>*@
                        @*</div>*@
                        <div class="container-fluid" style="text-align: center; margin: 1% 0">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs">
                                @for(p <- activeProjectList) {
                                    @* TODO: Rewrite below to the last updated project *@
                                    @if(p.equals(activeProjectList.last)) {
                                        <li role="presentation" class="active" style="width : 18%; text-overflow : ellipsis ; overflow : hidden ; white-space : nowrap">
                                            <a ng-click="setCurrentProject('@p.id')" href="#" data-toggle="tab">@p.folder</a>
                                        </li>
                                    } else {
                                        <li role="presentation" style="width : 18%; overflow : hidden ; white-space : nowrap ; text-overflow : ellipsis">
                                            <a ng-click="setCurrentProject('@p.id')" href="#" data-toggle="tab">@p.folder</a>
                                        </li>
                                    }
                                }
                                </ul>
                            </div>
                        </div>
                        <div id="chat">
                            <div class="{{msg.who}} msg" ng-repeat="msg in msgs | limitTo:-4">
                                {{msg.date}}<br/>
                                <strong>{{msg.sender}} says: </strong>{{msg.text}}<br/>
                            </div>
                        </div>
                        <div id="footer">
                            <form ng-submit="submitMsg()">
                                <input type="text" name="chat" id="textField" ng-model="inputText"
                                placeholder="Comment..." class="ng-pristine ng-valid input-block-level" />
                                <input ng-bind="user='@currentUser.name'" type="button" class="btn btn-primary" id="saySomething" value="Submit" ng-click="submitMsg()" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

        <!--bootstrap-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!--sb-Admin-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
    </body>
</html>}