@(title: String)(currentUser:Person)(project: Project)(document: DocumentFile)(message_form: Form[_])(info: Boolean, theme: String, message: String)
<html lang="en">
    <head>
        @linkLoader.headlinks(title)

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/message.css")">

    </head>
    <body>
        <div id="wrapper">
            @dashboard("project", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-file-text-o fa-5x")
                <div class="row" style="text-align: center">
                    <h3>Create a new message about <br> @document.name</h3>
                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                @if(info) {
                    @template.alert(theme, message)
                }
                </div>
                @helper.form(action = routes.DiscussionData.postExternalMessage()) {
                    <div class="row" style="margin-top: 30px; margin-right: 40px">
                        <div class="col-xs-8 col-xs-offset-2">
                            <ul class="message" style="padding: 0; margin: 0">
                                <li>
                                    @defining(Role.find.where().eq("project",project).eq("user",currentUser).findUnique().role) { role =>
                                        @if(role.equals(Role.OWNER)){
                                            <div class="message-badge primary">
                                                <i class="fa fa-mortar-board" style="margin-top: 15px"></i>
                                            </div>
                                        }
                                        @if(role.equals(Role.REVIEWER)){
                                            <div class="message-badge danger">
                                                <i class="fa fa-edit" style="margin-left: 4px; margin-top: 15px"></i>
                                            </div>
                                        }
                                        @if(role.equals(Role.GUEST)){
                                            <div class="message-badge info">
                                                <i class="fa fa-suitcase" style="margin-left: 4px; margin-top: 15px"></i>
                                            </div>
                                        }
                                    }
                                    <div class="message-panel" style="margin-left: 40px">
                                        <div class="message-heading">
                                            <input type="text" name="subject" class="form-control" value="@message_form("subject").value" placeholder="Your subject here...">
                                            <hr class="hr" style="margin: 15px 0 10px">
                                            <textarea class="form-control" name="content" rows="5" placeholder="Your message here...">@message_form("content").value</textarea>
                                            <hr class="hr" style="margin: 15px 0 10px">
                                            <input type="hidden" name="attachment" value="@document.id">
                                            <input type="hidden" name="projectID" value="@document.project.id">
                                            <p style="margin: 0; font-size: small"><b>Attachment</b>: @document.name</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="btn-group col-xs-6" role="group" style="margin:20px 0px 0px 0px">
                            <a type="button" class="btn btn-default col-xs-12" href="@routes.ProjectData.project(project.id)">Cancel</a>
                        </div>
                        <div class="btn-group col-xs-6" role="group" style="margin:20px 0px 0px 0px">
                            <button type="submit" class="btn btn-success col-xs-12">Post!</button>
                        </div>
                    </div>
                }
            </div>
        </div>
            <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
            <!--bootstrap-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <!--sb-Admin javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
            <!--MetisMenu javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
    </body>
</html>
