@(title: String)(currentUser:User)
    @defining(Project.find.where().in("users", currentUser).eq("active", "true").findList()) { activeProjectList =>
        <html lang="en">
            <head>
                @linkLoader.headlinks(title)
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
            <script type="text/javascript">
                'use strict';
                /** app level module which depends on services and controllers */
                angular.module('sseChat', ['sseChat.controllers']);
            </script>
            <script id="controller" type="text/javascript">
                'use strict';
                /** Controllers */
                angular.module('sseChat.controllers', []).controller('ChatCtrl', function ($scope, $http) {
                    $scope.projectids = [];
                    $.ajax({url: "/" + @currentUser.id + "/projectids", async: false, dataType: 'json', success: function(response){ $scope.projectids = response}});
                    $scope.comments = [];
                    $.ajax({url: "/comments/" + $scope.projectids[0].projectID, async: false, dataType: 'json', success: function(response){ $scope.comments = response}});
                    $scope.inputText = "";
                    $scope.inputSubject = "";
                    $scope.user = "@currentUser.name";
                    $scope.parentID = -1;
                    $scope.subjectReadOnly = false;
                    $scope.currentProject = $scope.projectids[0];

                    /** change current room, restart EventSource connection */
                    $scope.setCurrentProject = function (pid) {
                        $scope.currentProject = $.grep($scope.projectids, function(p){return p.projectID === pid;})[0 ];
                        $scope.chatFeed.close();
                        $scope.comments = [];
                        $.ajax({url: "/comments/" + pid, async: false, dataType: 'json', success: function(response){ $scope.comments = response}});
                        $scope.listen();
                    };

                    /** change current subject, restart EventSource connection */
                    $scope.setCurrentSubjectAndParent = function (subject, parentID) {
                        $scope.inputSubject = subject;
                        $scope.parentID = parentID;
                    };

                    $scope.setSubjectReadOnly = function (bool) {
                        $scope.subjectReadOnly = bool;
                    };

                    $scope.eraseInputText = function () {
                        $scope.inputText = "";
                    };

                    /** posting chat text to server */
                    $scope.submitMsg = function () {
                        $http.post("/chat", { uid: @currentUser.id, subject: $scope.inputSubject, content: $scope.inputText,
                                                 date: (new Date()).toUTCString(), pid: $scope.currentProject});
                        $scope.inputText = "";
                        $scope.inputSubject = "";
                    };

                    /** handle incoming messages: add to messages array */
                    $scope.addMsg = function (msg) {
                        $scope.$apply(function () {
                            $scope.comments.push(JSON.parse(msg.data));
                            console.log("" + JSON.stringify(JSON.parse(msg.data)));
                        });
                    };

                    /** start listening on messages from selected room */
                    $scope.listen = function () {
                        $scope.chatFeed = new EventSource("/chatFeed/" + $scope.currentProject.projectID);
                        $scope.chatFeed.addEventListener("message", $scope.addMsg, false);
                    };

                    $scope.listen();
                });
            </script>
            </head>
            <body>
                <div id="wrapper">
                    @dashboard("discussion", currentUser)
                    <div id="page-wrapper">
                        @template.headericon("fa fa-comment fa-5x")
                        <div ng-app="sseChat">
                            <div ng-controller="ChatCtrl">
                                <div class="container-fluid" style="text-align: center; margin: 1% 0">
                                    <div role="tabpanel">
                                        <ul class="nav nav-tabs">
                                        @for(p <- activeProjectList) {
                                            @* TODO: Rewrite below to the last updated project *@
                                            @if(p.equals(activeProjectList.head)) {
                                                <li role="presentation" class="active" style="width : 18%; text-overflow : ellipsis ; overflow : hidden ; white-space : nowrap">
                                                    <a ng-click="setCurrentProject('@p.id')" href="#" id="refresh1" data-toggle="tab">@p.folder</a>
                                                </li>
                                            } else {
                                                <li role="presentation" style="width : 18%; overflow : hidden ; white-space : nowrap ; text-overflow : ellipsis">
                                                    <a ng-click="setCurrentProject('@p.id')" href="#" id="refresh2" data-toggle="tab">@p.folder</a>
                                                </li>
                                            }
                                        }
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <h3 style="margin: 5px 0 0 30px;">@activeProjectList.head.name: Discussions</h3>
                                    </div>
                                    <div class="col-xs-2">
                                        <button ng-click="setSubjectReadOnly(false); setCurrentSubjectAndParent('', -1);" class="btn btn-success pull-right" data-toggle="collapse" data-target="#comment" style="margin: 0; margin-right: 30px;">Start new Discussion</button>
                                    </div>
                                </div>
                                <hr class="hr" style="margin: 10px 0 0 0">
                                <div class="panel-body" style="padding: 5px 0 200px 0">
                                    <div id="chat">
                                        <div class="{{comment.who}} comment" ng-repeat="comment in comments"> @* | limitTo:-8*@
                                            <div class="row">
                                                <div class="col-xs-2" style="text-align: center">
                                                    <div class="thumbnail" style="width: 75px; height: 75px; margin: 10px auto 5px auto">
                                                        <img src="http://tansolutions.co/wp-content/uploads/2013/09/765-default-avatar-75x75.png" alt="User Avatar" class="img-circle" />
                                                    </div>
                                                    <strong>User</strong>
                                                </div>
                                                <div class="col-xs-10">
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <b><u>{{comment.subject}}</u></b>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <small class="pull-right text-muted">
                                                                <i class="fa fa-clock-o fa-fw"></i> {{comment.date}}
                                                            </small>
                                                        </div>
                                                    </div>
                                                    {{comment.content}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <small class="pull-right" style="padding-right: 30px">
                                                    <a data-toggle="collapse" href="#comment" ng-click="setCurrentSubject('Replying to topic: ' + comment.subject, comment.commentID); setSubjectReadOnly(true)">
                                                        <i class="fa fa-comment-o fa-fw"></i> Add a comment...
                                                    </a>
                                                </small>
                                            </div>
                                            <hr class="hr" style="margin: 5px 0">
                                        </div>
                                    </div>
                                </div>
                                <div id="comment" class="panel-footer collapse" style="position: fixed; bottom:0; margin-left: -30px; padding: 15px 50px">
                                    <div class="row" style="padding: 0 20px">
                                        Subject:
                                    </div>
                                    <div class="row" style="padding: 0 20px 5px 20px;">
                                        <span class="input-group-btn">
                                            <input type="text" name="chat" id="textField" ng-model="inputSubject" ng-readonly="subjectReadOnly"
                                            placeholder="Your eye-catching subject title here..." class="ng-pristine ng-valid form-control input-sm"/>
                                        </span>
                                    </div>
                                    <div class="row" style="padding: 0 20px">
                                        Comment:
                                    </div>
                                    <div class="row" style="padding: 0 20px">
                                        <span class="input-group-btn">
                                            <input ng-submit="submitMsg()" type="text" name="chat" id="textField" ng-model="inputText"
                                            placeholder="Your text here..." class="ng-pristine ng-valid form-control input-sm"/>
                                        </span>
                                    </div>
                                    <div class="row pull-right" style="margin: 10px">
                                        <button ng-click="setSubjectReadOnly(false); setCurrentSubject('', -1); eraseInputText();" class="btn btn-default btn-sm"
                                        data-toggle="collapse" data-target="#comment" type="button" style="width: 80px">Cancel</button>
                                        <button type="button" class="btn btn-success btn-sm" style="width: 80px"
                                        id="saySomething" data-toggle="collapse" data-target="#comment" ng-click="submitMsg()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- jQuery -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

                    <!--bootstrap-->
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

                    <!--sb-Admin-->
                <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

                <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
            </body>
        </html>
    }