
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>login page</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">

    <link href="@routes.Assets.at("css/bootstrap-social.css")" rel="stylesheet">
    <!-- Normalize css file  -->
    <link href="@routes.Assets.at("css/normalize.css")" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="@routes.Assets.at("css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">


    <!-- Timeline CSS -->
    <link href="@routes.Assets.at("css/plugins/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("css/sb-admin-2.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@routes.Assets.at("css/plugins/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!--inbox CSS-->
	   <link href="@routes.Assets.at("css/inbox.css")" rel="stylesheet" type="text/css">

<!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>




    <![endif]-->
</head>

<body>
<div id="wrapper">
     <!-- Navigation -->
     <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="index.html">AssistU Prototype</a>-->
        </div>
        <a href="http://www.reactivemanifesto.org/">
            <img style="border: 0; position: fixed; left: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-left.png">
        </a>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Submit Conclusion</strong>
                                    <span class="pull-right text-muted">10% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        <span class="sr-only">10% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Write Abstract</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Change Introduction</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>message John</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <!--<div class="input-group custom-search-form">-->
                        <!--<input type="text" class="form-control" placeholder="Search Google Scholar Quickly...">-->
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button">-->
                        <!--<i class="fa fa-search"></i>-->
                        <!--</button>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /input-group &ndash;&gt;-->
                    </li>
                    <li class="sidebar-search"></li>
                    <li>
                        <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Projects <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">BEP</a>
                            </li>
                            <li>
                                <a href="morris.html">science of web</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Calendar</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Tasks<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">All Tasks</a>
                            </li>
                            <li>
                                <a href="buttons.html">Due soon</a>
                            </li>
                            <li>
                                <a href="notifications.html">Per Project</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Suggestions & Tips<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search Google Scholar Quickly...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>
<div id="page-wrapper">
	<div class="container">
	    <div class="row">
	        <div class="col-md-2">
	            <div class="btn-group">
	                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	                    Mail <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu" role="menu">
	                    <li><a href="#">Mail</a></li>
	                    <li><a href="#">Contacts</a></li>
	                    <li><a href="#">Tasks</a></li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-sm-9 col-md-10">
	            <!-- Split button -->
	         
	            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
	                   <span class="glyphicon glyphicon-refresh"></span>   </button>
	            <!-- Single button -->
	            <div class="btn-group">
	                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	                    More <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu" role="menu">
	                    <li><a href="#">Mark all as read</a></li>
	                    <li class="divider"></li>
	                    <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
	                </ul>
	            </div>
	            <div class="pull-right">
	                <span class="text-muted"><b>1</b>–<b>50</b> of <b>277</b></span>
	                <div class="btn-group btn-group-sm">
	                    <button type="button" class="btn btn-default">
	                        <span class="glyphicon glyphicon-chevron-left"></span>
	                    </button>
	                    <button type="button" class="btn btn-default">
	                        <span class="glyphicon glyphicon-chevron-right"></span>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	    <hr />
	    <div class="row">
	        <!-- <div class="col-sm-3 col-md-2"> -->
	            <!-- <a href="#" class="btn btn-danger btn-sm btn-block" role="button">COMPOSE</a>
	            <hr />
	            <ul class="nav nav-pills nav-stacked">
	                <li class="active"><a href="#"><span class="badge pull-right">42</span> Inbox </a>
	                </li>
	                <li><a href="http://www.jquery2dotnet.com">Starred</a></li>
	                <li><a href="http://www.jquery2dotnet.com">Important</a></li>
	                <li><a href="http://www.jquery2dotnet.com">Sent Mail</a></li>
	                <li><a href="http://www.jquery2dotnet.com"><span class="badge pull-right">3</span>Drafts</a></li>
	            </ul> -->
	        <!-- </div> -->
	        <div class="col-sm-9 col-md-10">
	            
	            <!-- Tab panes -->
	            <div class="tab-content">
	                <div class="tab-pane fade in active" id="home">
	                    <div class="list-group">
	                        <a href="#" class="list-group-item">
	                            <div class="checkbox">
	                                <label>
	                                    <input type="checkbox">
	                                </label>
	                            </div>
	                            <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
	                                display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
	                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
	                                class="badge">12:10 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
	                                </span></span></a><a href="#" class="list-group-item">
	                                    <div class="checkbox">
	                                        <label>
	                                            <input type="checkbox">
	                                        </label>
	                                    </div>
	                                    <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
	                                        display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
	                                    <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
	                                        class="badge">12:10 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
	                                        </span></span></a><a href="#" class="list-group-item read">
	                                            <div class="checkbox">
	                                                <label>
	                                                    <input type="checkbox">
	                                                </label>
	                                            </div>
	                                            <span class="glyphicon glyphicon-star"></span><span class="name" style="min-width: 120px;
	                                                display: inline-block;">Bhaumik Patel</span> <span class="">This is big title</span>
	                                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span
	                                                class="badge">12:10 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
	                                                </span></span></a>
	                    </div>
	                </div>
	                <div class="tab-pane fade in" id="profile">
	                    <div class="list-group">
	                        <div class="list-group-item">
	                            <span class="text-center">This tab is empty.</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="tab-pane fade in" id="messages">
	                    ...</div>
	                <div class="tab-pane fade in" id="settings">
	                    This tab is empty.</div>
	            </div>
	            
	        </div>
	    </div>
	</div>
</div>	

<!--bootstrap-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!--sb-Admin-->
<script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

<script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>


</body>