@(title: String, uid: String)

@*main("") {*@

<html lang="en">

    <head>
    @linkLoader.headlinks(title)
    </head>

<body>
<!-- wraps the whole thing -->
<div id="wrapper">
    <!-- LOading Side menue and top nav menue -->
    @dashboard("dashboard", uid)
    
    <div id="page-wrapper">
        @template.headericon("fa fa-tachometer fa-5x", "Dashboard")

    <!-- /#header icon --> 

    <!-- over view blocks for quick access  -->
   @home.overviewblocks(uid)
    </div>
<!-- /#wrapper -->


</div>

</body>

</html>


@*}*@
