@(title: String)(currentUser: User)
@*=======*@
@*(title: String, uid: String)*@
@*>>>>>>> authorisation_mendeley*@

@*main("") {*@

<html lang="en">

    <head>
    @linkLoader.headlinks(title)
    </head>

<body>
<!-- wraps the whole thing -->
<div id="wrapper">
    <!-- LOading Side menue and top nav menue -->
@*<<<<<<< HEAD*@
    @dashboard("dashboard",currentUser)
@*=======*@
@*//    dashboard("dashboard", uid)*@
@*>>>>>>> authorisation_mendeley*@
    
    <div id="page-wrapper">
        @template.headericon("fa fa-tachometer fa-5x", "Dashboard")

    <!-- /#header icon --> 

    <!-- over view blocks for quick access  -->
   @home.overviewblocks(currentUser.id)
    </div>
<!-- /#wrapper -->


</div>

</body>

</html>


@*}*@
