@(title: String)(currentUser: Person)

<html lang="en">
    <head>
        @linkLoader.headlinks(title)
    </head>
    <body>
        <div id="wrapper">
            @dashboard("dashboard",currentUser)
            <div id="page-wrapper" >
                <div id="one">
                @template.headericon("fa fa-tachometer fa-5x")
                </div>
                @home.overviewblocks(currentUser.id)


            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>    
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
        <script src="@routes.Assets.at("javascripts/walkthrough.js")"></script>
        <!--sb-Admin javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
            <!--MetisMenu javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

    </body>
</html>
