@(form: Form[Authentication.Login])
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider
<head>

    @linkLoader.loginhead()


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>




    <![endif]-->
</head>

<body>


<div class="container">
     <a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>

    <div class="page-header">
       <div class="container-fluid "> 
        <div class="row">
            <div class="col-lg-6 col-md-6">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3 text-center">
                                <i class="fa fa-sign-in fa-5x"></i>
                            </div>
                            
                        </div>
                    </div>                        
            </div>
        </div>  
        </div>  
    </div>
<!-- the sign in from with email and Adress -->
    @if(form.hasGlobalErrors) {
        <p class="error">
        @form.globalError.message
        </p>
    }

    <div class="row">

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @helper.form(routes.Authentication.authenticate){

               <div class="form-group ">

                <label class="control-label" for="email">Email</label>
                <input autofocus class="form-control input-lg" id="email" name="email" type="email" value="@form("email").value" placeholder="Email">
               </div>


                <div class="form-group ">
                  <label class="control-label" for="password">Password</label>
                    <div class="input-group input-group-lg">
                      <input autocomplete="on" class="form-control" id="password" name="password" type="password" placeholder="Password">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-password-show" type="button" data-target="#password" data-toggle="button" title="Show/Hide Password" tabindex="-1">
                          <span class="fa fa-eye"></span>
                        </button>
                      </span>
                    </div>
                </div>

  
                <div class="controls">
                    <button type="submit" class="btn btn-block btn-lg btn-success btn-loading" data-loading-text="Signing in..">
                    Sign in
                    </button>
                </div>
                  <div class="form-group">
                    <div class="btn-group btn-group-justified form-control-static">
                      <a class="btn btn-link btn-xs ellipsis" href="/user/forgot/">Forgot password?</a>
                      <a class="btn btn-link btn-xs ellipsis" href="#">Create new account</a>
                    </div>
                  </div>
            }
            <legend class="text-muted text-center">
                or
            </legend>
            <div class="text-center">
                <a class="btn btn-lg btn-social-icon btn-google-plus" href="@AuthProvider.Registry.get("google").getUrl()" title="Sign in with Google" rel="nofollow">
                    <i class="fa fa-google-plus"></i>
                </a>

                     <a class="btn btn-lg btn-social-icon btn-twitter" href="/signin/twitter/?next=%2F" title="Sign in with Twitter" rel="nofollow">
                        <i class="fa fa-twitter"></i>
                     </a>
          </div>
<hr>
            <div class="checkbox remember">
                 <label><input type="checkbox" checked>Keep me signed in</label>
            </div>
        </div>
    </div>
  </div>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
    <script src="/p/min/script/scripts.min.js?1-4-0.379471333572466079"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
<!--bootstrap-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!--sb-Admin-->
<script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

<script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
<script src="@routes.Assets.at("javascripts.js")"></script>


</body>

</html>
