@(
        title: String,
        p : Project,
        projectList: List[Project],
        emptyProjectForm: Form[Project],
        filledProjectForm: Form[Project],
        fileList: List[DocumentFile]
        )

<html lang="en">
<head>
    @linkLoader.headlinks(title)
</head>
<body>
<div id="wrapper">
    @dashboard()
    <div id="page-wrapper">
        @template.headericon("fa fa-line-chart fa-5x")
        <div class="row">
            <div class="col-xs-10">
                @projects.projectNavBar(projectList,p)
            </div>
            <div class="col-xs-2" style="align:center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProject">Create a new project</button>
                </div>
            </div>
        </div>
        @if(p != null) {
            @projects.projectContent(p, fileList, filledProjectForm)
        }
    </div>
</div>
<!-- /#wrapper -->
@*Modal for the creation of a new Project*@
@template.smallmodal("newProject")("success")("Create a new Project") {
    @helper.form(action = routes.Application.createProject) {
        @helper.inputText(emptyProjectForm("tabname"), '_label -> "Project Tab Name (Required)", '_showConstraints -> false, '_showsErrors -> true)
        @helper.inputText(emptyProjectForm("name"), '_label -> "Project Name (Required)", '_showConstraints -> false, '_showsErrors -> true)
        @helper.inputText(emptyProjectForm("description"), '_label -> "Project Description (Optional)", 'size -> 50)
        <div class="btn-group pull-right" role="group" style="margin:2% 1% 1% 1%">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success" name="send">Create!</button>
            </div>
        </div>
    }
}

        <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

        <!--bootstrap-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!--sb-Admin-->
    <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

    <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

</body>
</html>