@(title: String, projectList: List[Project])

<html lang="en">
<head>
    @linkLoader.headlinks(title)
</head>
<body>
<div id="wrapper">
    @dashboard()
    <div id="page-wrapper">
        @template.headericon("fa fa-line-chart fa-5x")
        <div class="row">
            <div class="hidden-xs col-xs-8">
                @projects.projectNavBar(projectList)
            </div>
            <div class="col-xs-4" style="align:center">
                <div class="btn-group hidden-xs" role="group">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProject">Create a new project</button>
                </div>
            </div>
        </div>
        @projects.projectContent(projectList)
    </div>
</div>
<!-- /#wrapper -->
@*Modal for the creation of a new Project*@
@template.smallmodal("newProject")("success")("Create a new Project") {
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            @helper.form(action = routes.Application.createProject) {
                <div class="form-group">
                    <label for="validate-text">Folder Name</label>
                    <div class="input-group" data-validate="length" data-length="3">
                        <input type="text" class="form-control" name="folder" id="validate-text" placeholder="Required" required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                    <span class="help-inline" style="font-size: x-small;">Minimum length: 3</span>
                </div>
                <div class="form-group">
                    <label for="validate-text">Project Name</label>
                    <div class="input-group" data-validate="length" data-length="3">
                        <input type="text" class="form-control" name="name" id="validate-text" placeholder="Required" required>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                    <span class="help-inline" style="font-size: x-small;">Minimum length: 3</span>
                </div>
                <div class="form-group">
                    <label for="validate-optional">Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="description" id="validate-optional" placeholder="Optional">
                        <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="btn-group col-xs-6" role="group" style="margin:20px 0px 0px 0px">
                    <button type="button" class="btn btn-default col-xs-12" data-dismiss="modal">Cancel</button>
                </div>
                <div class="btn-group col-xs-6" role="group" style="margin:20px 0px 0px 0px">
                    <button type="submit" class="btn btn-success col-xs-12" disabled>Create!</button>
                </div>
            }
        </div>
    </div>
}
        <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

        <!-- Form Validation Icons -->
    <script src="@routes.Assets.at("javascripts/formValidationSetup.js")"></script>

        <!--bootstrap-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!--sb-Admin-->
    <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

    <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

</body>
</html>