@(title: String)(currentUser:User)(project: Project)
    <html lang="en">
        <head>
            @linkLoader.headlinks(title)
        </head>
        <body>
            <div id="wrapper">
                @dashboard("project", currentUser)
                <div id="page-wrapper">
                    @template.headericon("fa fa-line-chart fa-5x")
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center; margin: 1% 0">
                            <div class="btn-group" role="group">
                                <a style="width: 190px" type="button" class="btn btn-success" href="@routes.ProjectData.createProjectPage()">Create a new project</a>
                                <button style="width: 190px" type="button" class="btn btn-default"
                                data-toggle="modal" data-target="#archivedProjectList"
                                @if(UserData.findArchivedProjects.isEmpty){disabled}>Archived projects</button>
                            </div>
                        </div>
                    </div>
                    @projects.projectNavBar(currentUser, project)
                    @projects.projectContent(currentUser, project)
                </div>
            </div>
            @*Archived List Modal*@
            @template.mediummodal("archivedProjectList")("info")("List of Archived Projects") {
                    <!-- Table -->
                <table class="table" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <th>Folder Name</th>
                            <th>Project Name</th>
                            <th>Date Archived</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    @UserData.findArchivedProjects.map{ p =>
                        <tr>
                            <td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">@p.folder</td>
                            <td style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">@p.name</td>
                            <td><span class="text-muted small">00-00-00</span></td>
                            <td>N/A</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
                <!-- jQuery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
                <!--bootstrap-->
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                <!--sb-Admin javascript Needed for Dropdown to work-->
            <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
                <!--MetisMenu javascript Needed for Dropdown to work-->
            <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
        </body>
    </html>
