@(signupForm: Form[_], info: Boolean, message: String)
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider
<html>
    <head>
        @linkLoader.loginhead()
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="container-fluid ">
                    <div class="row" style="font-size: 32pt; text-align: center;">
                        <p style="margin-bottom: 0"><i class="fa fa-pencil-square-o"></i></p>
                    </div>
                </div>
            </div>
            @if(info) {
                <br>
                <p class="error" style="text-align: center; color: red">@message</p>
                <br>
            }
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    @helper.form(routes.Signup.doSignup){
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="firstname">First name</label>
                                    <input autofocus class="form-control input-sm" id="firstname" name="first_name" value="@signupForm("first_name").value" type="text" placeholder="First name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="lastname">Last name</label>
                                    <input autofocus class="form-control input-sm" id="lastname" name="last_name" value="@signupForm("last_name").value" type="text" placeholder="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input autofocus class="form-control input-sm" id="email" name="email" value="@signupForm("email").value" type="email" placeholder="E-mail">
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="password">Password</label>
                            <input autofocus class="form-control input-sm" id="password" name="password" type="password" placeholder="Password">
                            <span class="help-inline" style="font-size: x-small;">Minimum length: 6</span>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="password">Repeat Password</label>
                            <input autofocus class="form-control input-sm" id="repeatPassword" name="repeatPassword" type="password" placeholder="Confirm password">
                            <span class="help-inline" style="font-size: x-small;">Minimum length: 6</span>
                        </div>
                        <div class="controls">
                            <div class="row" style="text-align: center">
                                <div class="col-lg-6">
                                    <a type="button" class="btn btn-sm btn-default center-block" href="@routes.Authentication.login"
                                    style="width: 100%; min-width: 150px; font-size: 12pt">
                                        Back to login
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-sm btn-success center-block"
                                    style="width: 100%; min-width: 150px; font-size: 12pt">
                                        Sign up!
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <script src="/p/min/script/scripts.min.js?1-4-0.379471333572466079"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
            <!--bootstrap-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

            <!--sb-Admin-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>

        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
        <script src="@routes.Assets.at("javascripts.js")"></script>

    </body>
</html>
