@(title: String)(currentUser :Person)

<html lang="en">
    <head>
        @linkLoader.headlinks(title)
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/suggestion.css")">

            <!-- Timeline CSS -->
        @*<link href="@routes.Assets.at("css/plugins/timeline.css")" rel="stylesheet">*@

        <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>

        @*<!--Wheel Menu JS-->*@
    @*<script src="@routes.Assets.at("javascripts/jquery.suggestionwheelmenuprimary.js")" ></script>*@

        @*<!--Wheel Menu CSS-->*@
    @*<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/suggestionwheelmenuprimary.css")">*@

    </head>

    <body>
        <div id="wrapper">
            @dashboard("suggestion", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-lightbulb-o fa-5x")


            <div class="container-fluid">
                <div class="page-header">
                    <h1 id="timeline">Step by Step Guide :</h1>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="">1</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Getting Started</h4>
                                <a class="btn btn-primary" data-toggle="collapse" href="#gettingStarted" aria-expanded="false" aria-controls="collapseExample">
                                     More..
                                </a>
                            </div>
                            <br>
                            <div class="collapse" id="gettingStarted">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>In research (and in your every day life) you acquire knowledge and experience. You start with observations that arise questions
                                            that need to be answered and shared. The steps that lead from an observation to a valid, ready to be made public,
                                            answer form a methodology known as “the scientific method”.</p>
                                        <p>The scientific inquiry was built up in time by many, beginning with Aristotle and is the basis for the modern science as we
                                            know it today. It developed in close relationship with the epistemology (acquiring knowledge) and with the philosophy of science.</p>

                                        <div class = "image">
                                            <img  src="@routes.Assets.at("images/tulib/sm1.png")" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="">2</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Key Points</h4>
                                <a class="btn btn-primary" data-toggle="collapse" href="#second" aria-expanded="false" aria-controls="collapseExample">
                                    More..
                                </a>
                            </div>
                            <br>
                            <div class="collapse" id="second">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nostrum sit tempora vero. Error ipsam laborum maxime ratione reprehenderit? Animi at excepturi illo iste labore nemo saepe sapiente voluptas voluptatibus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet atque consectetur cumque dignissimos dolorem est exercitationem in magnam magni maxime nam nemo officiis quod sint, tempora ut voluptatibus voluptatum?</p>

                                        <div class = "image">
                                            <img  src="@routes.Assets.at("images/tulib/sm1.png")" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="">3</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>













                @*<div class="panel panel-info">*@
                    @*<div class="panel-body" style="height: 600px">*@
                        @*<a href="#wheel" class="wheel-button"><p style="margin-top: 30px">Menu</p></a>*@
                        @*<ul id="wheel">*@
                            @*<li class="item" style="background: #B6212D;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Literature Search")">*@
                                    @*<i class="fa fa-book fa-2x"><br><p style="font-size: 8pt">Literature Search</p></i>*@
                                @*</a>*@
                            @*</li>*@
                            @*<li class="item" style="background: #7F171F;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Processing")">*@
                                    @*<i class="fa fa-sitemap fa-2x"><br><p style="font-size: 8pt">Processing</p></i>*@
                                @*</a>*@
                            @*</li>*@
                            @*<li class="item" style="background: #B67721;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Keeping Up-to-date")">*@
                                    @*<i class="fa fa-refresh fa-2x"><br><p style="font-size: 8pt">Up-to-date</p></i>*@
                                @*</a>*@
                            @*</li>*@
                            @*<li class="item" style="background: #7F5417;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Publish")">*@
                                    @*<i class="fa fa-newspaper-o fa-2x"><br><p style="font-size: 8pt">Publish</p></i>*@
                                @*</a>*@
                            @*</li>*@
                            @*<li class="item" style="background: #21B6A8;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Orientation")">*@
                                    @*<i class="fa fa-eye fa-2x"><br><p style="font-size: 8pt">Orientation</p></i>*@
                                @*</a>*@
                            @*</li>*@
                            @*<li class="item" style="background: #177F75;border-radius: 50px;">*@
                                @*<a href="@routes.SuggestionData.suggestion("Exploration")">*@
                                    @*<i class="fa fa-arrows-alt fa-2x"><br><p style="font-size: 8pt">Exploration</p></i>*@
                                @*</a>*@
                            @*</li>*@
                        @*</ul>*@
                    @*</div>*@
                @*</div>*@
            </div>
        </div>
            @*<script type="text/javascript">*@
            @*$(".wheel-button").wheelmenu({*@
            @*animation: "fly",*@
            @*animationSpeed: "slow"*@
            @*});*@
            @*</script>*@
            <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
            <!--bootstrap-->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <!--sb-Admin javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
            <!--MetisMenu javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>
    </body>

</html>