@(title: String)(currentUser :Person)

<html lang="en">
    <head>
        @linkLoader.headlinks(title)
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/suggestion.css")">

    </head>

    <body>
        <div id="wrapper">
            @dashboard("suggestion", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-lightbulb-o fa-5x")
            <div class="container-fluid">
                <div class="page-header">
                    <h1 id="timeline" >Step by Step Guide :</h1>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i>1</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Getting Started</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#gettingStarted" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="gettingStarted">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>In research (and in your every day life) you acquire knowledge and experience. You start with observations that arise questions
                                            that need to be answered and shared. The steps that lead from an observation to a valid, ready to be made public,
                                            answer form a methodology known as “the scientific method”.</p>
                                        <p>The scientific inquiry was built up in time by many, beginning with Aristotle and is the basis for the modern science as we
                                            know it today. It developed in close relationship with the epistemology (acquiring knowledge) and with the philosophy of science.</p>
                                        <br>
                                        <div class = "image">
                                            <img  src="@routes.Assets.at("images/tulib/sm1.png")" style="text-align: center" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary"><i>2</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Key Points</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#keyPoints" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="keyPoints">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge warning"><i>3</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Publication Strategy</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#publicationStrategy" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="publicationStrategy">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>If you have results that deserve to be published, you should stop
                                            and think who is the audience for your next-coming article. You
                                            will find it most probably by looking at the journals from your
                                            reading list. The cited articles that help building the context of
                                            your own research, will give you a <b>target list</b> of journals where
                                            you can publish. Choose carefully and maximise the
                                            impact of your results.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i>4</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Introduction</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#introduction" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="introduction">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>The introduction should give a concise, up-to-date description
                                            of the background to provide a general reader sufficient context
                                            to understand the research being presented and its significance. It
                                            should provide a clear statement of the research question and any
                                            hypothesis being explored. Please address explicitly the
                                            ageing aspect(s) discussed in your paper.</p>
                                        <p>Use relevant resources to give a brief and balanced review of
                                            relevant literature on your subject.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"><i>5</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Materials & Methods</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#materialsMethods" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="materialsMethods">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>In the Materials and methods body, the techniques, materials
                                            and equipment should be described in sufficient detail for
                                            another trained researcher to be able to reproduce the
                                            experimental work reported. Methods that are identical to
                                            published work and procedures should be still briefly described
                                            and referred to. For non-experimental papers equivalent
                                            demands exist for the methods applied and data sources (e.g.
                                            archives, questionnaires).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge success"><i>6</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Results & Discussion</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#resultsDiscussion" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="resultsDiscussion">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i>7</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Abstract, keywords & Title</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#abstractKeywordsTitle" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="abstractKeywordsTitle">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>The abstract should not exceed a maximum of 120 words. The
                                            content should state the main purposes and research questions
                                            of the study, the methods used, the main results and key
                                            conclusions obtained. Keywords will be used for
                                            indexing purposes. A maximum of five keywords should be
                                            given.</p>
                                        <p>The title page should include a concise and informative title
                                            (maximum 2 lines), the name(s) of the author(s), including
                                            symbols linking the author name with relevant affiliation. The
                                            name of the corresponding author is linked with a footnote
                                            for contact details.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary"><i>8</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">References & Acknowledgements</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#referencesAcknowledgements" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="referencesAcknowledgements">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>Paraphrase if the idea or theory is important, but the exact words less so; cite if the exact words are as important as the ideas expressed.
                                            Generally, arts scholars tend to cite, while science scholars paraphrase.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge warning"><i>9</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" >
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h4 class="timeline-title">Layout & style</h4>
                                    </div>
                                    <div class="col-lg-3">
                                        <a class="btn btn-primary pull-right" data-toggle="collapse" href="#layoutStyle" aria-expanded="false" aria-controls="collapseExample">
                                            <i class="fa fa-expand fa-fw"></i> Show more...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="layoutStyle">
                                <div class="well">
                                    <div class="timeline-body">
                                        <p>Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
            <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>    
     

            <!--sb-Admin javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
            <!--MetisMenu javascript Needed for Dropdown to work-->
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

    </body>

</html>