@(title: String)(currentUser :Person, tasks: List[Task], taskform: Form[Task])
@import helper._
@import helper.twitterBootstrap
<html>
    <head>
        @linkLoader.headlinks(title)
            <!-- loading task stylesheet(s)& script(s) -->
        <link href="@routes.Assets.at("css/datepicker.css")" rel="stylesheet">

            <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")'></script>

        <script>
            $(document).ready(function() {
                $('#datepicker').datepicker();
            })
        </script>
    </head>
    <body>
        <div id="wrapper">
            @dashboard("task", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-wrench fa-5x")
                <div class="row">
                    <div class="col-lg-6 steps" style="padding: 50px">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <button  type="button" style="text-align: center" class="btn btn-success pull-left" data-toggle="collapse"
                                data-target="#taskform" aria-expanded="false" aria-controls="taskform">
                                    <i class="fa fa-plus six" ></i>
                                </button>
                                <h3 class="text-center" style="margin: 0; padding-right: 45px">To Do</h3>
                            </div>
                            <div class="panel-body" style="min-height: 450px; padding-top: 20px">
                                <div class="collapse" id="taskform">
                                    @helper.form(action = routes.TaskData.addTask()){
                                        <div class="form-group">
                                            <input  type= "text" class="form-control input" id="todo_textbox" name="name" autofocus="autofocus"
                                            placeholder="What needs to be done?" />
                                        </div>
                                        <div class="row" style="padding: 0 15px">
                                            <div class="col-lg-2" style="text-align: center">
                                                <label class="control-label" for="validate-text" style="padding-top: 5px">Deadline: </label>
                                            </div>
                                            <div class="col-lg-8" style="text-align: center">
                                                <div class="input-append date form-group-sm" id="datepicker" data-date="today" data-date-format="dd-mm-yyyy">
                                                    <div class="col-xs-10">
                                                        <input type="text" name="dueDate" value="e.g. 12-12-2015" id="txt" class="form-control input"
                                                        style="font-size: small; text-align: center" readonly />
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <span class="add-on "><i class="fa fa-calendar fa-2x"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2" style="text-align: center">
                                                <div class="btn-group" role="group">
                                                    <button type="submit" class="btn btn-success">Save!</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <hr class="hr" style="margin: 15px 0 10px">
                                </div>

                                @for(t <- tasks){
                                    @if(t.done != true) {
                                        <ul id="sortable" class="list-group" >
                                        <li class="list-group-item">
                                            <span class="pull-left">
                                                <a href="@routes.TaskData.doneTask(t.id)" style="color: #000000">
                                                    <i style="font-size: larger" class="fa fa-square-o"></i>
                                                </a>
                                            </span>
                                               <label style="padding-left:10px; margin: 0">@t.name</label>
                                            <span class="pull-right">
                                                <i class="fa fa-clock-o fa-fw" title="task is due on: @t.dueDate.toString.substring(0,10)"></i>
                                                <label style="padding: 0 7px 0 4px">|</label>
                                                <a href="@routes.TaskData.deleteTask(t.id)" style="color: red; font-size: larger"><i class="fa fa-close"></i></a>
                                            </span>
                                        </li>
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 steps" style="padding: 50px">
                        <div class="panel panel-success">
                            <div class="panel-heading"><h3 class="text-center" style="margin: 0">Done</h3></div>
                            <div class="panel-body" style="min-height: 450px; padding-top: 20px">
                                @for(t <- tasks){
                                    @if(t.done == true ) {
                                        <ul id="sortable" class="list-group"  >
                                            <li class="list-group-item">
                                                <span class="pull-left">
                                                    <a href="@routes.TaskData.undoTask(t.id)" style="color: #000000">
                                                        <i style="font-size: larger" class="fa fa-check-square-o"></i>
                                                    </a>
                                                </span>
                                                <label style="padding-left:10px; margin:0"><strike>@t.name</strike></label>
                                                <span class="pull-right">
                                                    <i class="fa fa-clock-o fa-fw" title="task is due on: @t.dueDate.toString.substring(0,10)"></i>
                                                    <label style="padding: 0 7px 0 4px">|</label>
                                                    <a  href="@routes.TaskData.undoTask(t.id)" ><i class="fa fa-refresh "></i></a>
                                                    <label style="padding: 0 7px 0 4px">|</label>
                                                    <a href="@routes.TaskData.deleteTask(t.id)" style="color: red; font-size: larger"><i class="fa fa-close"></i></a>
                                                </span>
                                            </li>
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>    <
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>
        <script src="@routes.Assets.at("javascripts/walkthrough.js")"></script>
            <!--sb-Admin-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>

    </body>
</html>