@(title: String)(currentUser :User, tasks: List[Task])
@import helper._
@import helper.twitterBootstrap
<html>
    <head>
        @linkLoader.headlinks(title)
            <!-- loading task stylesheet(s)& script(s) -->
        <link href="@routes.Assets.at("css/datepicker.css")" rel="stylesheet">

            <!-- jQuery -->
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
        <script src='@routes.Assets.at("javascripts/sortable.js")'></script>
        <script src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")'></script>
        <script>
        $(document).ready(function() {
        $('#datepicker').datepicker();})
        </script>
    </head>
    <body>
        <div id="wrapper">
            @dashboard("task", currentUser)
            <div id="page-wrapper">
                @template.headericon("fa fa-wrench fa-5x")




                @*here the form for adding new task is provided*@

                @*<div class="col-sm-8 col-sm-offset-2">*@
                @*<span class="input-group-btn">*@
                @*<div id="main_input_box">*@
                @*<div class="input-group input-group-lg">*@
                @*<input  type= "text" class="form-control input" id="custom_textbox" name="name" autofocus="autofocus" placeholder="What needs to be done?" />*@
                <div class="input-group-btn text-center">
                    @*<a class="btn btn-default">*@
                    @*<div class="input-append date" id="datepicker" data-date="today" data-date-format="dd-mm-yyyy">*@
                    @*<span class="add-on"><i class="fa fa-calendar fa-fw"></i></span>*@
                    @*</div>*@
                    @*</a>*@
                    <button  type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#taskform" aria-expanded="false" aria-controls="taskform"><i class="glyphicon glyphicon-plus"></i></button>

                </div>

                <div class="collapse" id="taskform">

                @form(action = routes.TaskData.addTask()){
                    <fieldset class="col-sm-12">

                        <div class="form-group">
                            <label for="todo_textbox" class="control-label">Name</label>
                            <input  type= "text" class="form-control input" id="todo_textbox" name="name" autofocus="autofocus" placeholder="what todo?" />

                        </div>
                        <div class="input-append date form-group-sm" id="datepicker" data-date="today" data-date-format="dd-mm-yyyy">

                            <input value="add due date"   id="txt" class="form-control input">
                            <span class="add-on fa fa-calendar fa-fw "></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-xs-2">Save</button>
                            <button type="button" class="btn btn-default col-xs-2" >Cancel</button>
                        </div>

                    </fieldset>






                }
                </div>


                @*</span>*@
                @*</div>*@









                <div class="col-sm-12 steps">
                    <h2 class=" text-center">TO DO(s)</h2>
                    <ul id="sortable" class="list-group" >
                    @for(t <- tasks){
                        @if(t.done != true) {
                            <li class="list-group-item">

                                @t.name

                                <span class="pull-right">
                                    <a class="btn btn-default" href="#"><i class="fa fa-clock-o "></i></a>
                                    <a class="btn btn-default" href="@routes.TaskData.deleteTask(t.id)"><i class="fa fa-trash-o "></i></a>
                                    <a class="btn btn-success" href="@routes.TaskData.doneTask(t.id)" ><i class="fa fa-check "></i></a>
                                </span>

                            </li>
                        }
                    }
                    </ul>
                </div>



                <div class="col-sm-12 steps">
                    <h2 class=" text-center">Done</h2>
                    <ul id="sortable" class="list-group"  >
                    @for(t <- tasks){
                        @if(t.done == true ) {
                            <li class="list-group-item">

                                @t.name

                                <span class="pull-right">
                                    <a class="btn` btn-default" href="#"><i class="fa fa-clock-o "></i></a>
                                    <a class="btn btn-default" href="@routes.TaskData.deleteTask(t.id)"><i class="fa fa-trash-o "></i></a>
                                    <a class="btn btn-danger" href="@routes.TaskData.undoTask(t.id)" ><i class="fa fa-close "></i></a>
                                </span>

                            </li>
                        }
                    }
                    </ul>
                </div>





            </div>
        </div>


            <!--bootstrap-->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <!--sb-Admin-->
        <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
        <script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>




    </body>
</html>