@(title: String, tasks :List[Task])
@import helper._
@import helper.twitterBootstrap
<html>
<head>
    @linkLoader.headlinks(title)
    <!-- loading task stylesheet(s)& script(s) -->
        <!-- jQuery -->
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
    <script src='@routes.Assets.at("javascripts/sortable.js")'></script>
</head>
<body>
<div id="wrapper">
@dashboard()
</div>

<div id="page-wrapper">
    <!-- Header Icon puts an icon on top the page using font awsome -->
    <div class="container-fluid "> 
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>  
    </div> 
    <!-- /#header icon -->


            @form(action = routes.TaskData.addTask()){
                <fieldset>
            <div class="col-sm-8 col-sm-offset-2">
                <div id="main_input_box">
                    <div class="input-group input-group-lg">
                   
                         <input  type= "text" class="form-control input" id="custom_textbox" name="name" autofocus="autofocus" placeholder="What needs to be done?" />

                        <span class="input-group-btn">
                            <button id= "dueDate" class="btn btn-default btn-lg" ><i class="glyphicon glyphicon-time"></i></button>
                            <button id= "addTaskButton" type="submit" class="btn btn-success btn-lg" ><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                 </div>

                    }
            
            </div><!-- /.col-lg-6 -->


        </fieldset>

    
   <div class="col-sm-12 steps">
       <ul id="sortable" class="list-group" >
        @for(t <- tasks){
            <li class="list-group-item">

                @t.name

                <span class="pull-right">
                    <a class="btn btn-danger" href="@routes.TaskData.deleteTask(t.id)"><i class="fa fa-trash-o "></i></a>
                    <a class="btn btn-primary" href="#"><i class="fa fa-check "></i></a>
                </span>

            </li>
        
        }
    </ul>
   </div> 


    

</div>    

<!--bootstrap-->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--sb-Admin-->
<script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/metisMenu/metisMenu.min.js")"></script>




</body>
</html>