  <!-- loading Full calendar stylesheet -->
  <link href="@routes.Assets.at("css/fullcalendar.css")" rel="stylesheet">
  <link href="@routes.Assets.at("css/fullcalendar.print.css")" rel="stylesheet" media='print'>
  <link href="@routes.Assets.at("css/basicCalendar.css")" rel="stylesheet">
  <link href="@routes.Assets.at("css/fullcalendar.min.css")" rel="stylesheet">


  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
  <script src="@routes.Assets.at("javascripts/fullcalendar/moment.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/fullcalendar/fullcalendar.js")"></script>
  <script src="@routes.Assets.at("javascripts/fullcalendar/renderCal.js")"></script>
