@(title:String)

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


<!-- Bootstrap Walkthrough -->
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.css">
<link href="@routes.Assets.at("css/walkthrough.css")" rel="stylesheet">



        <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.at("css/bootstrap_custom.css")" rel="stylesheet">

        <!-- search styling -->
        <link href="@routes.Assets.at("css/searchform.css")" rel="stylesheet">
        @*notifications css*@
        <link href="@routes.Assets.at("css/notification.css")" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="@routes.Assets.at("css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="@routes.Assets.at("css/sb-admin-2.css")" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="@routes.Assets.at("css/plugins/morris.css")" rel="stylesheet">

        <!-- Awesome Fonts icons -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <!--bootstrap datepicker-->
        <link href="@routes.Assets.at("css/datepicker.css")" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        

        <![endif]-->
        <style type="text/css">
            body {
                background: none repeat scroll 0 0 white;
                }

        </style>
