<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Login</title>

<!-- Bootstrap Core CSS -->
<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("css/bootstrap-social.css")" rel="stylesheet">
<!-- Normalize css file  -->
<link href="@routes.Assets.at("css/normalize.css")" rel="stylesheet">


<!-- MetisMenu CSS -->
<link href="@routes.Assets.at("css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">


<!-- Timeline CSS -->
<link href="@routes.Assets.at("css/plugins/timeline.css")" rel="stylesheet">

<!-- Custom CSS -->
<link href="@routes.Assets.at("css/sb-admin-2.css")" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="@routes.Assets.at("css/plugins/morris.css")" rel="stylesheet">

<!-- Awesome Fonts icons -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
